<div class="container-fluid">
    <div class="row">
        <div class="col-md-12  blackiconcolor">

            <div class="col-md-8 col-md-offset-2" style="margin-bottom:20px">

                <h4 class="alert alert-info blackiconcolor">Batch List on Server <%= server.server_name %></h4>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" cellspacing="0"
                                   width="100%">
                                <thead>
                                <tr class="tableHeader">
                                    <th colspan="5" align="center">Server Details</th>
                                </tr>
                                <tbody>
                                <tr>
                                    <td>Project Name</td>
                                    <td><%= server.project_name %></td>
                                </tr>
                                <tr>
                                    <td>IP Address</td>
                                    <td><%= server.ip_address %></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <hr class="colorgraph">
                <% var serverVal = JSON.stringify(server) %>
                <table id="targetServerListTB" class="table table-striped table-bordered" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr class="tableHeaderAlignRight">
                        <th colspan="5" class="text-right">
                            <table width="30%" align="right" cellpadding="3" >
                                <tr>
                                    <td align="center"><a href="javascript:uploadFileOnServerPre('<%= serverVal %>');"><i
                                                    class="fa fa-fw fa-upload blueiconcolor"></i><br>
                                            <small>Upload <br>File</small>
                                        </a>
                                    </td>
                                    <td align="center"><a href="javascript:executeCommandPre('<%= serverVal %>');"><i
                                                    class="fa fa-fw fa-clipboard blueiconcolor"></i><br>
                                            <small>Execute <br>Command</small>
                                        </a>
                                    </td>
                                    <td align="center"><a href="javascript:attachRegisterdScipt('<%= serverVal %>');"><i
                                                    class="fa fa-fw fa-plug blueiconcolor"></i><br>
                                            <small>Attach <br>Script</small>
                                        </a>
                                    </td>
                                    <td align="center">
                                        <a href="javascript:addNewShellScript('<%= serverVal %>');"><i
                                                    class="fa fa-fw fa-plus blueiconcolor"></i><br>
                                            <small>Add <br>Script</small>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </th>


                    </tr>
                    <tr class="tableHeader">
                        <th colspan="5" class="text-center">Shell Script Execution</th>
                    </tr>
                    <tr class="tableSubHeader">
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Batch Name</th>
                        <th class="text-center">User Name</th>
                        <th class="text-center">Shell Script</th>
                    </tr>
                    </thead>
                    <tbody>

                    <% var userVal = JSON.stringify(user) %>
                    <% for(var i = 0; i < server.server_scripts.length; i++) { %>
                    <% var server_scriptVal = server.server_scripts[i] %>
                    <% var server_scriptValString = JSON.stringify(server_scriptVal) %>
                    <% var scriptExecutoreSpinnerId = 'scriptSpinner' + server_scriptVal._id %>

                    <tr>
                        <td>
                            <a href="javascript:executeScriptOnServer(<%= serverVal %>,<%= server_scriptValString %>,<%= userVal %>);"><i
                                        class="fa fa-fw fa-play greeniconcolor"></i></a>
                            <a href="javascript:deleteServerScript('<%= server_scriptVal._id %>','<%= server._id %>');"><i
                                        class="fa fa-fw fa-trash rediconcolor"></i>
                                <i id="<%= scriptExecutoreSpinnerId %>"
                                   class="fa fa-circle-o-notch fa-spin blueiconcolor"
                                   style="font-size:18px;display: none"></i>
                        </td>
                        <td><%= server_scriptVal.script_type %></td>
                        <td><%= server_scriptVal.batch_name %></td>
                        <td><%= server_scriptVal.script_executor_id %></td>
                        <td><%= server_scriptVal.script_name %></td>


                    </tr>
                    <% } %>

                    </tbody>
                </table>


                <div class="alert alert-info" id="executionResultDiv">
                    <h3>Result of execution </h3>
                    <h4 id="executedScripHeading"></h4>
                    <hr class="colorgraph">
                    <textarea id="executionResultTxtAr" class="form-control" rows="15"></textarea>
                </div>


            </div>
        </div>
    </div>

</div>
<script>
    $('#executionResultDiv').hide();

</script>
