<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-8 col-md-offset-2" style="margin-bottom:20px">
                <h2 class="alert alert-info blackiconcolor">Registered servers list</h2>
                <hr class="colorgraph">
                <table id="targetServerListTB" class="table table-striped table-bordered  blackiconcolor" cellspacing="0" width="100%">
                    <thead>
                    <tr class="tableHeader">
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>Project Name</th>
                        <th>Server Name</th>
                        <th>IP Address</th>
                        <th>Port Number</th>
                        <th>Server User</th>
                        <th>Server Password</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < serverlist.length; i++) { %>
                    <tr>
                        <td>
                            <a href="javascript:executeOnServer('<%= serverlist[i].server_name %>',
                               '<%= serverlist[i].project_name %>',
                               '<%= serverlist[i].ip_address %>',
                               '<%= serverlist[i].port_number %>',
                               '<%= serverlist[i].server_user %>',
                               '<%= serverlist[i].server_user_password %>');"><i
                                        class="fa fa-fw fa-wrench"></i></a><!--
                            <a href="javascript:editServer('<%= serverlist[i].server_name %>',
                               '<%= serverlist[i].project_name %>',
                               '<%= serverlist[i].ip_address %>',
                               '<%= serverlist[i].port_number %>',
                               '<%= serverlist[i].server_user %>',
                               '<%= serverlist[i].server_user_password %>');"><i
                                        class="fa fa-fw fa-edit"></i></a>-->
                            <a href="javascript:deleteServer('<%= serverlist[i]._id %>');"><i
                                        class="fa fa-fw fa-trash  rediconcolor"></i></a>
                        </td>
                        <td><%= serverlist[i].project_name %></td>
                        <td><%= serverlist[i].server_name %></td>
                        <td><%= serverlist[i].ip_address %></td>
                        <td><%= serverlist[i].port_number %></td>
                        <td><%= serverlist[i].server_user %></td>
                        <td>***************</td>

                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
<script>
    $('#targetServerListTB').DataTable();
</script>

